#!/usr/bin/env bash

layout_uv() {
  if [[ ! -d "$PWD/.venv" ]]; then
    uv venv
  fi

  # https://github.com/astral-sh/uv/pull/17874
  # https://docs.astral.sh/uv/reference/cli/#uv-run--active
  export UV_ACTIVE=1

  export VIRTUAL_ENV="$PWD/.venv"
  PATH_add "$VIRTUAL_ENV/bin"
}

layout uv
